/**
 * 	animations
 */
@-moz-keyframes wiggle {
  from {
    -moz-transform: rotateZ(2deg); }

  50% {
    -moz-transform: rotateZ(-2deg); }

  to {
    -moz-transform: rotateZ(2deg); } }

@-webkit-keyframes wiggle {
  from {
    -webkit-transform: rotateZ(2deg); }

  50% {
    -webkit-transform: rotateZ(-2deg); }

  to {
    -webkit-transform: rotateZ(2deg); } }

@keyframes wiggle {
  from {
    -ms-transform: rotateZ(2deg);
    -o-transform: rotateZ(2deg);
    transform: rotateZ(2deg); }

  50% {
    -ms-transform: rotateZ(-2deg);
    -o-transform: rotateZ(-2deg);
    transform: rotateZ(-2deg); }

  to {
    -ms-transform: rotateZ(2deg);
    -o-transform: rotateZ(2deg);
    transform: rotateZ(2deg); } }
